block footer
    footer.page-footer
        .container
            .row
                .col
                    a(href="#") Facebook
                    a(href="#") Twitter
                    a(href="#") Google+
                    a(href="#") Linkedln
                    a(href="#") Behance
                    a(href="#") Dribble
                    a(href="#") Github

