extends _layout/layout.pug
block main 
	section.home_slider 
		.container       
			.row
				.col
					h1 Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					p
						a.btn.btn_more(href="#") Liên kết
	section.home_services 
		.container 
			.row
				.col
					h2 Lorem ipsum dolor sit amet consectetur adipisicing elit  
					p Lorem ipsum dolor sit amet consectetur adipisicing elit   
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_icon_1.png", alt="")
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_2.png", alt="")
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_3.png", alt="")
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_4.png", alt="")
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					
